.fs24 {
	font-size: 24rpx;
}

.fs28 {
	font-size: 28rpx;
}

.fs32 {
	font-size: 32rpx;
}

.fs36 {
	font-size: 36rpx;
}

.fs48 {
	font-size: 48rpx;
}

.fs56 {
	font-size: 56rpx;
}

.fs64 {
	font-size: 64rpx;
}

.fs80 {
	font-size: 80rpx;
}

.fs96 {
	font-size: 96rpx;
}

.fs144 {
	font-size: 144rpx;
}

.df {
	display: flex;
}

.aie {
	align-items: flex-end;
}

.aic {
	align-items: center;
}

.asfe {
	align-self: flex-end;
}

.jcsb {
	justify-content: space-between;
}

.mt18 {
	margin-top: 18rpx;
}
.mt42 {
	margin-top: 42rpx;
}

.mt5 {
	margin-top: 5rpx;
}

.mt34 {
	margin-top: 34rpx;
}
.mt60 {
	margin-top: 60rpx;
}
.mt200 {
	margin-top: 200rpx;
}

.mt400 {
	margin-top: 400rpx;
}
.mr10 {
	margin-right: 10rpx;
}
.mt80 {
	margin-top: 80rpx;
}
.mr40 {
	margin-right: 40rpx;
}

.mr68 {
	margin-right: 68rpx;
}

.mb18 {
	margin-bottom: 18rpx;
}

.mb30 {
	margin-bottom: 30rpx;
}
.ml10 {
	margin-left: 10rpx;
}
.pt400 {
	padding-top: 400rpx;
}

.pr60 {
	padding-right: 60rpx;
}

.pb30 {
	padding-bottom: 30rpx;
}

.pl40 {
	padding-left: 40rpx;
}

.c828698 {
	color: #828698;
}

.c000 {
	color: #000000;
}
.c38 {
	color: #383838;
}
.c17DA9C {
	color: #17DA9C;
}

.c262626 {
	color: #262626;
}

.c5e {
	color: #5e5e5e;
}

.tac {
	text-align: center;
}